body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #ebf5fb;
}

h1 {
  color: rgb(97, 190, 221);
}

#boxes {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  gap: 0px;
  justify-content: center;
  margin: 20px auto;
}

.cell {
  width: 50px;
  height: 50px;
  background-color: rgb(188, 218, 228);
  border: 2px solid rgb(98, 182, 210);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
}

.cell.displayBoxNumber {
  background-color: white;
  color: green;
}

.cell.mine {
  color: red;
}
#resetButton {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(97, 190, 221);
  color: white;
  font-size: 18px;
}
